.map {
        height: 100%;
        width: 100%;
      }
      
      
/* pop up form submission form */
 {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {

  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: absolute;
  bottom: 23px;
  left: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 30%;
  left: 38%;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 400px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
} 

/* end of submission form*/

      

/*border on top */
#content, #right {
 	width: 100%;
 	height: 50px;
 	padding-top: 10px;
 	padding-bottom: 10px;
    font-size:25px;
    font-family: "Helvetica";
    color: white;
    font-weight:bold;
    background-color:#667399;
    font-weight: 100;
    vertical-align: middle;
    float:left;
}

#mcontent{
  width: 100%;
  height: 150px;
  padding-top: 10px;
  padding-bottom: 100 px;
    font-size:75px;
    font-family: "Helvetica";
    color: white;
    font-weight:bold;
    background-color:#667399;
    font-weight: 100;
    vertical-align: middle;
    float:left;
}


a {
	color : white;
	text-decoration: none;
}


/*.suggestionsBox {position:absolute; top:40px;}*/

/*data button*/
.databtn {

	background-color:  #667399;
    opacity : 0.9;
    padding: 13px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
    width:50px;
}


.databtn:hover, .databtn:focus {
    background-color:  #3e4c74;
}

.datadropdown {
    position: absolute;
    top: 95px ;
  	left: 17px ;
    display: inline-block;
}

.datadropdown-content {
	
    display: none;
    position: absolute;
    background-color: #000;
    background: transparent;
    width: 500px;
    height: 400px;
    overflow: auto;
    border: 0px solid #ddd;
    z-index: 1;
    overflow-y: scroll;
}

.datadropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    left: 0;
}
.datadropdown-content form {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    left: 0;
}
.datadropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    left: 0;
}
.datadropdown a:hover {background-color: #ddd;}
.datadropdown button:hover {background-color: #ddd;}


.dropdown form:hover {background-color: #ddd;}

.datadropdown:hover .datadropdown-content {display: block;}


 /* Dropdown Button */
.dropbtn {
    background-color:  #667399;
    opacity : 0.9;
    padding: 13px;
    color: white;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
    width:50px;


}

.dropbtn:hover, .dropbtn:focus {
    background-color:  #3e4c74;
}

#myInput {
    border-box: box-sizing;
    background-image: url('/images/search.png');
    background-position: 7px 10px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
    position: absolute;
    top: 95px ;
  	right: 17px ;
    display: inline-block;

}

.dropdown-content {
	right: 0; left: auto;
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    width: 150;
    height: 400px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    overflow-y: scroll;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    left: 0;
}

.dropdown a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

/* end of drop down */



.show {display: block;}

.image {
   position: relative;
   width: 100%; /* for IE 6 */
}

div.links img {
     padding:100px;
     max-width: 100%;
     float:left;
 }

a {
    position: relative;
    display: inline-block;
}

h2 {
   position: absolute;
   top: 250px;
   left: 0;
   width: 100%;
   max-width:100%;
}

h2 span {
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}

table {
    max-width:100%;
    margin: 10px auto;
    position : absolute;
    top : 20%;
}

table img {
    max-width:100%;
}

.imageholder{
    position: relative;
    float: left;
}

.caption{
    position: absolute;
    top: 80%;
    left: 0;
    right: 20%;
    font-family: Helvetica,sans-serif;
    font-size: 1em;
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 10px;
}

.mcaption{
    position: absolute;
    top: 80%;
    left: 20%;
    right: 20%;
    font-family: Helvetica,sans-serif;
    font-size: 1em;
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 10px;
}


/* radio form buttons*/
.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: black;
     top: 10px;
     left: 0px ;
     height: 90px;
     width: 90px;
     border: 10px;
     border-radius: 6px;
     cursor: pointer;     
     margin-right: 7px;
     outline: 2 px;
}
.form-radio:checked::before
{
     position: absolute;
     font: 100px/1 'Open Sans', sans-serif;
     left: 0%;
     top: 0%;

     content: '';
     transform: rotate(0deg);
}
.form-radio:hover
{
     background-color: #f7f7f7;
}
.form-radio:checked
{
     background-color: #f1f1f1;
     outline: 2 px ;
     box-shadow: 0 0 0 5px black
}


label
{
     font: 300 16px/1.7 'Open Sans', sans-serif;
     color: #666;
     cursor: pointer;
} 

