.map {
        height: 600px;
        width: 100%;
        
      }

#index {
    background: url('test.jpg') no-repeat center center fixed;
}
body{
    background: url('test.jpg') no-repeat center center fixed;

}

/*border on top */
#content, #right {

 	width: 100%;
    font-size:25px;
    font-family: "Arial", Arial, Sans-serif;
    color: white;
    font-weight:bold;
    background-color:#667399;
    font-weight: 100;
    float:left;
}
/*.suggestionsBox {position:absolute; top:40px;}*/

 /* Dropdown Button */
.dropbtn {
    background-color:  #667399; 
    opacity : 0.9;
    padding: 13px;
    color: white;  
    font-size: 16px;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
    width:50px;
    
    
}

.dropbtn:hover, .dropbtn:focus {
    background-color:  #3e4c74;
}

#myInput {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
    position: absolute; 
    top: 95px ;
  	right: 17px ;
    display: inline-block;
}

.dropdown-content {
	right: 0; left: auto;
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    width: 150;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    left: 0;
}

.dropdown a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}

.show {display: block;}



