.map {
        height: 600px;
        width: 100%;
      }

#index {
    background: url('test.jpg') no-repeat center center fixed;
}
body{
    background: url('test.jpg') no-repeat center center fixed;

}
#content, #right {

 	width: 100%;
    font-size:25px;
    font-family: "Arial", Arial, Sans-serif;
    color: black;
    font-weight:bold;
    background-color:#9a908e;
    float:left;
}

