extends layout

block content
 .html
    <body>
      <h3> Hello </h3>
      <script>
      var i;
      var sum = 1;
      for (i = 0; i < 10; i++){
      sum = sum + i;
      }
      document.write(sum);
      </script>
    </body>