<!doctype html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
	<title>WayPathIO</title>
<div id="content">
    <p><a href="index.html">&nbsp WayPathIO Map</a></p>
</div>

    
    <div id="map" class="map"></div>
	
	<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.2.0/build/ol.js"></script>

	<link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.2.0/css/ol.css" type="text/css">

  	<!-- Include OpenLayers JavaScript library -->
  	<script type="text/javascript" src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.2.0/build/ol.js"></script>
  	
  	<script type="text/javascript" src="javascripts/map.js"></script>

  	<!-- <script type="text/javascript" src='https://api.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script> -->

    <link rel="stylesheet" href="stylesheets/styles.css">
    
	<link href='https://api.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet'>

  </head>

  <body>
  	<!--<button style="width:50px; height:30px; font-size: 16px; padding:0;position:absolute; top:87px;right:300px;box-sizing:border-box;" type="button" right= 50  onclick=location.href='index.html';>Home</button>-->
  
  
  <!---drop down menu-->
 <div class="dropdown">
<button onclick="myFunction()" class="dropbtn">&#9660</button>
  <div id="myDropdown" class="dropdown-content">
    <input type="text" placeholder="Destination.." id="myInput" onkeyup="filterFunction()">
    <a href="aboutus.html">About</a>
	<a href="#" onclick="panAcad()" >Academic Services Building North</a>
    <a href="#" onclick="panAcad()">Academic Services Building South</a>
    <a href="#" onclick ="panAcadGar()">Academy Street Garage</a>
	<a href="#" onclick="panAg()">Agriculture</a>
	<a href="#" onclick="panAlk()">Albert B. Alkek Library</a>
	<a href="#"onclick="panAlk()">Albert B. Alkek Parking Garage</a>
	<a href="#" onclick="panAngel()">Angelina Hall</a>
	<a href="#"onclick="panAqua()">Aqua Sports Center</a>
	<a href="#" onclick="panArnHall()">Arnold Hall</a>
	<a href="#" onclick="panBare()">Beretta Hall</a>
	<a href="#" onclick="panBexH()">Bexar Hall</a>
	<a href="#" onclick="panBlan()">Blanco Hall</a>
	<a href="#" onclick="panblanPark()">Blanco Parking Garage</a>
	<a href="#" onclick="panballPark()">Bobcat Ballpark</a>
	<a href="#" onclick="panbobStand()">Bobcat Stadium</a>
	<a href="#" onclick="panbobStandEnd()">Bobcat Stadium End Zone Complex</a>
	<a href="#" onclick="panbobVill()">Bobcat Village</a>
	<a href="#" onclick="panbrazon()">Brazos</a>
	<a href="#">Brogdon Hall</a>
	<a href="#" onclick="panbutlHall()">Butler Hall</a>
    <a href="#" onclick="pancentHall()">Centennial Hall</a>
    <a href="#" onclick="pancenterStuRet()">Center for Student Retention</a>
	<a href="#" onclick="panchautHall()">Chautauqua Hall</a>
	<a href="#" onclick="panchem()">Chemistry</a>
	<a href="#">Child Development Center</a>
	<a href="#">College Inn</a>
	<a href="#">College of Education</a>
	<a href="#">Colorado</a>
	<a href="#">Comal</a>
	<a href="#">Commons Dining Hall</a>
	<a href="#">Derrick Hall</a>	
	<a href="#">Edward Gary Street Garage</a>
	<a href="#">Elliott Hall</a>
	<a href="#">Emmett & Miriam McCoy Hall</a>
	<a href="#">Encino Hall</a>
	<a href="#">Evans Liberal Arts</a>
	<a href="#">alls Hall</a>
	<a href="#">Family & Consumer Sciences</a>
	<a href="#">Fire Station Studio</a>
	<a href="#" onclick="panFh()">Flowers Hall</a>
	<a href="#">Freeman Aquatic Biology</a>
	<a href="#">Freeman Ranch</a>
	<a href="#">Gaillardia Hall</a>
	<a href="#">Harris Dining Hall</a>
	<a href="#">Hill House</a>
	<a href="#">Hines Academic Center</a>
	<a href="#">Ivey-Moore House</a>
	<a href="#">Jackson Hall</a>
	<a href="#">JC Kellam Administration</a>
	<a href="#">Jerome & Catherine Supple Science</a>
	<a href="#">Joann Cole Mitte</a>
	<a href="#">Jones Dining Center</a>
	<a href="#">Jowers Center</a>
	<a href="#">Lampasas</a>
	<a href="#">Lantana Hall</a>
	<a href="#">Laurel Hall</a>
	<a href="#">LBJ Parking Garage</a>
	<a href="#">LBJ Student Center</a>
	<a href="#">Math Computer Science</a>
	<a href="index.html">Matthews Street Garage</a>
	<a href="index.html">Medina</a>
	<a href="index.html">Moeller House</a>
	<a href="index.html">Music</a>
	<a href="index.html">Nueces</a>
	<a href="index.html">Old Main</a>
	<a href="index.html">Outdoor Center</a>
	<a href="index.html">Pecos</a>
	<a href="index.html">Pedernales</a>
	<a href="index.html">Performing Arts Center</a>
	<a href="index.html">Physical Plant</a>
	<a href="index.html">Pleasant Street Garage</a>
	<a href="index.html">Recycling Center</a>
	<a href="index.html">Research Greenhouse</a>
	<a href="index.html">Retama Hall</a>
	<a href="index.html">Richard A. Castro Undergraduate Admissions Center</a>
	<a href="index.html">River House</a>
	<a href="index.html">Roy F. Mitte</a>
	<a href="index.html">Sabinal</a>
	<a href="index.html">San Gabriel Hall</a>
	<a href="index.html">San Jacinto Hall</a>
	<a href="index.html">San Marcos Hall</a>
	<a href="index.html">Sayers Hall</a>
	<a href="index.html">Science Greenhouse</a>
	<a href="index.html">Smith Hall</a>
	<a href="index.html">Smith House</a>
	<a href="index.html">Speck Street Garage</a>
	<a href="index.html">Spring Lake Hall</a>
	<a href="index.html">Sterry Hall</a>
	<a href="index.html">Strahan Coliseum & Darren B. Casey Athletic Administration Complex</a>
	<a href="index.html">Strahan House</a>
	<a href="index.html">Student Health Center</a>
	<a href="index.html">Student Recreation Center</a>
	<a href="index.html">Swinney Guest House</a>
	<a href="index.html">Swinney House</a>
	<a href="#" onclick="panTmh()">Taylor-Murphy History</a>
	<a href="index.html">Tennis Center</a>
	<a href="index.html">The Tower</a>
	<a href="index.html">Theatre Center</a>
	<a href="index.html">Thornton International House</a>
	<a href="index.html">Tower Garage</a>
	<a href="index.html">Track & Field Facility</a>
	<a href="index.html">Trinity</a>
	<a href="index.html">Undergraduate Academic Center</a>
	<a href="index.html">University Camp</a>
	<a href="index.html">University Distribution Center (Central Warehouse)</a>
	<a href="index.html">University Press (Print Shop) / West Warehouse</a>
	<a href="index.html">William & Elizabeth Adamson ROTC</a>	
	<a href="index.html">Woods Street Garage</a>  
  </div>


</div> 
<script>
// animations stutter on mobile or slow devices.
   
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */

function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
        if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
        } else {
            a[i].style.display = "none";
        }
    }
}
    
//onclick function that's supposed to make the drop down buttons
    
/*    
function onClick(id, callback) {
    document.getElementById(id).addEventListener('click', callback);
    }

    onClick('pan-to-london', function() {
    view.animate({
      center: txStateWebMercator1,
      duration: 2000
    });
});
*/
// Improve us
</script>


  </body>
</html>
