extends layout

block content

  if registrations.length
    table
      tr
        th Name
        th Busy
      each registration in registrations
        tr
          td= registration.name
          td= registration.busy
  else
    p No registrations yet :(